<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

  
</head>
<body>
    <p>Hi {{name}},</p>
   <p>Thank you for taking the time to sign up with the UAE Food Platform.
The login credential shall be shared with you soon. 
The UAE Food Platform is a virtual portal that connects you to the food industry in the UAE.
We, the Food and Beverage Manufacturing Group, are doing our part through the UAE Food Platform to educate and ease the sharing of information, current trends and insights, seek help from food experts, and have your voice heard in the sector.</p>

<p>How to access the platform?</p>

 <p>Please sign in using the login credentials that will be emailed to you and make use of this platform to connect with 300+ manufacturers as well as engage in industry discussions. Additionally, you will get access to all industry reports.
If you have further queries and concerns, please make use of our virtual office service.
F&B Group representatives will be available to assist you in our virtual office on working days from 11 AM to 5 PM, Dubai Time. 
If you have any questions or if you would like further information regarding the platform, please email us at membership@fnbdubai.com</p>


 


 <p>Sincerely,</p>
  <p> FBMG</p> 
 
 <br/>
 {{!-- <a href="https://www.qries.com/">
         <img alt="Qries" src="https://www.qries.com/images/banner_logo.png"
         width=150" height"=70>
</a>
  --}}
    
</body>
</html>